
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container-fluid">
	<div style="color: blue;">
		<!-- <h1>{{title}}</h1> -->
		<h3>{{description}}</h3>
	</div>
 
	<div style="width: 300px;">
		<form class="form-inline" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="item">Enter name</label> <input type="text" class="form-control" placeholder="Enter name..." id="item"
					required [(ngModel)]="itemValue" name="item">
			</div>
 
			<div class="btn-group">
				<button type="submit" class="btn btn-success">Submit</button>
      </div>
      <div class="btn-group">
          <button (click)="UpdateUser()" type="button" class="btn btn-success">Edit </button>
        </div>
    </form>   

   

	</div>
 
	<label for="item">Data from fhire database</label>
	<div class="col-md-3">      
		<!-- <pre *ngFor="let it of items | async">{{it.content}}</.pre> -->
	</div>


 <div class="container">   
    <div class="panel panel-default">
      <div class="panel-heading">User Details | Total records in the fhire datbase : {{ (items | async)?.length }}</div>
      <div class="panel-body">

      <div class="row" *ngFor = "let user of users | async">
        <div class="col-sm-6">{{user.content}}</div>
        <div class="col-sm-2">
          <button (click)="DeleteUser(user)" type="button" class="btn btn-danger"> <span class="glyphicon glyphicon-remove"></span> Delete
          </button>
        </div>
        <div class="col-sm-2">
            <button (click)="EditUser(user)" type="button" class="btn btn-info"> <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>
          </div>
      </div>

      </div>
    </div>
  </div>
</div>

<nav>        
  <a routerLink="/findbook" routerLinkActive="active">findbook</a>
</nav>

<router-outlet></router-outlet>
